* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p, a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


a {
    color: #ff0000b2;
    transition: all 0.2s;
}

a:hover {
    color: #b30000;
    transition: all 0.2s;
}



body {
    background-color: #272727;
}




/*** Scrollbar ***/

::-webkit-scrollbar {
    width: 7px;

    
}
  
::-webkit-scrollbar-track {
    background: #212121; 
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;*/
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #777; 
    transition: all 0.3s ease-in-out;
}




/*** Navbar ***/


/* Desktop version */

nav #navbar-v1 {
    height: 100px;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-v1-items {
    display: flex;
    justify-content: flex-end;
}

#navbar-v1 a {
    display: block;
    height: 100%;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar-v1 .navbar-v1-items a:hover {
    transition: all 0.2s ease-in-out;
}

#navbar-v1 h3 {
    padding: calc(50px - 23px/2);
    margin: 0;
    transition: all 0.3s ease-in-out;
}

#navbar-v1 .navbar-v1-items .hoverbtn:hover h3 {
    background-color: #ff0000b2;
    padding: calc(50px - 23px/2 - 10px);
    margin: 10px;
    transition: all 0.3s ease-in-out;
    color: #000;
    border-radius: 10px;
    display: block;
}

.navbar-v1-sitelogo {
    float: left;
}
.navbar-v1-sitelogo img {
    background-color: #212121;
    height: 80px;
    margin: 10px 0 10px 10px;
}

.navbar-v1-items .active h3 {
    background-color: #ff0000b2;
    color: #000;
    border-radius: 10px;
    padding: calc(50px - 23px/2 - 10px) !important;
    margin: 10px !important;
}



.dropbtn {
    cursor: pointer;
}

.dropbtn h3 {
    pointer-events: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121d8;
    border-radius: 10px;
    margin-top: 2px;
    width: 193px;
    overflow: auto;
    transition: all 0.3s ease-in-out;
}

#navbar-v1 .navbar-v1-items .hoverbtn:hover + .dropdown-content {
    margin-top: -18px;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a {
    padding: 10px; 
    transition: all 0.3s;
}

.dropdown-content a:hover {
    background-color: #ff0000b2;
    color: #000 !important;
    transition: all 0.3s;
}

.show {
    display: block;
}







/* Screen size logic */

#navbar-v2 {
    display: none;
} 

@media only screen and (max-width: 1184px) {
    #navbar-v1 {
        display: none !important;
    }    

    #navbar-v2 {
        display: block !important;
    }    
}

   



/* Mobile Version */

nav #navbar-v2 {
    height: 100px;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-v2-items {
    display: flex;
    justify-content: flex-end;
}

#navbar-v2 a {
    display: block;
    height: 100%;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #FFF;
}

#navbar-v2 h2 {
    padding: calc(50px - 32px/2);
    margin: 0;
}

.navbar-v2-sitelogo {
    float: left;
}

.navbar-v2-sitelogo img {
    background-color: #212121;
    height: 80px;
    margin: 10px 0 10px 10px;
}




.nav-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    overflow-y: hidden;
    transition: 0.5s;
}
  
.nav-overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.nav-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.nav-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    height: 60px !important;
}


.nav-overlay-content .active h3 {
    color: #ff0000b2;
}








/*** Footer ***/

footer {
    background-color: #2f2f2f;
    color: #fff;
    min-height: 230px;
    margin-top: 40px;
}

#home footer  {
    background-color: #212121;
    color: #fff;
    min-height: 230px;
    margin-top: 0;
}

footer .footer-flex-box-1, 
footer .flex-box-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

footer .block-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 15%;
    min-height: 200px;
    text-align: center;
}

footer .block-2 {
    padding-top: 10px;
    width: 84%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .block-3 {
    text-align: center;
    height: 30px;
}

footer img {
    height: 150px;
    width: 150px;
}

footer .block-2-1 {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-bottom: 10px;
}

footer .block-2-1 p {
    width: 72%;
    margin-left: 12.5%;
}

footer .block-2-2-v1 {
    width: 50%;
    height: 100%;
    margin-bottom: 10px;
}

footer .block-2-2-v1 h3 {
    text-align: left;
}

footer .block-2-2-v2 {
    display: none;
    text-align: center;
    margin-bottom: 10px;
}


footer .block-2-2-1, footer .block-2-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    float: left;
}


@media only screen and (max-width: 750px) {
    footer .block-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    footer .block-2-2-v1 {
        display: none;
    }
    
    footer .block-2-2-v2 {
        display: block;
    }

    footer .block-2-1 {
        width: 75%;
    }

    footer .block-2-1 p {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    footer .flex-box-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    footer .block-1 {
        width: 100%;
    }

    footer .block-2 {
        width: 100%;
    }
}







/** Popup **/

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal p, .modal a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
        margin-top: 100px;
    }
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/****/





/*** Seperatros **/

/* Seperator1 */
.separator1 {
    --width: 100%;
    --height: 100px;
    --top-color: #00000000;
    --bottom-color: #ff0000b2;
}

.separator1 .separator {
    margin-top: 20px !important;
    margin: 0;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator1 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator1 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

/* Seperator2 */
.separator2 {
    --width: 100%;
    --height: 100px;
    --top-color: #ff0000b2;
    --bottom-color: #2f2f2f;
}

.separator2 .separator {
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator2 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator2 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

/* Seperator3 */
.separator3 {
    --width: 100%;
    --height: 100px;
    --top-color: #2f2f2f;
    --bottom-color: #212121;
}

.separator3 .separator {
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator3 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator3 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

/* Seperator4 */
.separator4 {
    --width: 100%;
    --height: 100px;
    --top-color: #A21F16;
    --bottom-color: #FF3333;
}

.separator4 .separator {
    margin-top: -2px;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.separator4 .separator::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator4 .separator::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}













/* Home Page */

.home {
    min-height: auto;
}


/** Hero **/

.home-hero {
    width: 100%;
    height: 100vh;
    background-image: url(./files/images/home/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-hero .overlay {
    width: 100%;
    height: 60vh;
    margin-top: 40vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-hero .hero-text {
    margin-top: -40vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;


    background-color: red;
    background: linear-gradient(90deg, hsla(0, 96%, 51%, 1) 0%, hsla(0, 0%, 0%, 1) 70%);
    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

    



.home .text-block-1 {
    padding: 40px;
    background-color: #ff0000b2;
    color: #000;
}
.home .text-block-1 p {
    width: 70%;
}

.home .text-block-2 {
    padding: 40px;
    background-color: #2f2f2f;
    color: #fff;
}

.home .text-block-2 p {
    width: 70%;
    margin-bottom: 20px;
}

.home .text-block-2 a {
    padding: 5px 10px;
    background-color: #ff0000b2;
    border-radius: 10px;
    color: #000;
    margin: 0 2px;
    border: #ff0000b2 2px solid;
}

.home .text-block-2 a:hover {
    background-color: #ff00003f;
}

@media only screen and (max-width: 500px) {

    .home .text-block-1 p,
    .home .text-block-2 p {
        width: 100%;
    }

}











/*** Informatie Page ***/


.informatie {
    width: 100%;
}

/** Hero / Flexboxen **/


.info-hero {
    width: 100%;
    margin-top: 77.6px;
}


/* Flex Box */ 

.informatie .info-flex-box {
    height: calc(100vh - 100px);
    margin-top: 100px;
    padding-top: 30px;

    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}



.informatie .info-flex-box a {
    width: 30%;
    min-width: 300px;
    max-height: 200px;
    border-radius: 10px;
    overflow: auto;
}



.informatie .info-flex-box .overlay {
    background-color: #2727276b;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.informatie .info-flex-box .overlay:hover {
    box-shadow: -60px 0px 25px 0px #272727c8 inset;
    transition: all 1s ease-in-out;
}



.informatie .info-flex-box h3 {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.informatie .info-flex-box .overlay h3 {
    animation: hoveroff-h3 1s forwards;

}

.informatie .info-flex-box .overlay:hover h3 {
    animation: hoveron-h3 1s forwards;
}



.informatie .info-flex-box .block {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.informatie .info-flex-box .block1 {
    background-image: url(./files/images/informatie/nieuws.jpg);
    
}

.informatie .info-flex-box .block2 {
    background-image: url(./files/images/informatie/lestijden.jpg);
}

.informatie .info-flex-box .block3 {
    background-image: url(./files/images/informatie/agenda.jpg);
}

.informatie .info-flex-box .block4 {
    background-image: url(./files/images/informatie/inschrijven.jpg);
}

.informatie .info-flex-box .block5 {
    background-image: url(./files/images/informatie/inschrijven.jpg);    
}

.informatie .info-flex-box .block6 {
    background-image: url(./files/images/informatie/protocollen.jpg);    
}

.informatie .info-flex-box .block7 {
    background-image: url(./files/images/informatie/huisregels.jpg);
}

.informatie .info-flex-box .block8 {
    background-image: url(./files/images/informatie/examens.jpg);    
}

.informatie .info-flex-box .block9 {
    background-image: url(./files/images/informatie/recent/recent.png);    

}


@media only screen and (max-width: 960px) {
    .informatie .info-flex-box a {
        margin-top: 30px;
        margin: 0 20px 20px;
    }
}

@media only screen and (min-width: 1250px) {
    

    .informatie .flex-box-1 .block1,
    .informatie .flex-box-1 .block2,
    .informatie .flex-box-1 .block3,
    .informatie .flex-box-3 .block1,
    .informatie .flex-box-3 .block2,
    .informatie .flex-box-3 .block3 {
        min-width: 400px;
        min-height: 300px;
    }

    .informatie .flex-box-1 a,
    .informatie .flex-box-2 a,
    .informatie .flex-box-3 a {
        min-width: 400px;
        min-height: 300px;
    }

}








/*** Nieuws Page ***/

.nieuws-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/nieuws.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.nieuws-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nieuws-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.nieuws h3 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.iframeclone {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fb-page {
    display: none;
}









/*** Agenda Page ***/

.agenda {
    height: fit-content;
}

.agenda-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/agenda.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.agenda-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: calc(20vh + 2px);
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.agenda-hero .hero-text {
    margin-top: -20vh;
    margin-left: -40%;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.agenda-hero h3 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}


@media only screen and (max-width: 600px) {
    .agenda .flex-box div{
        margin-top: 20px;
    }

    .agenda-hero .hero-text h1 {
        background-color: #000;
        background: linear-gradient(270deg, #ffffff 0%, #000000);
        background-size: 100%;
        background-repeat: repeat;

        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    .agenda-hero .hero-text {
        margin-left: 0;
    }
}

.agenda .flex-box {
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.agenda .flex-box > div {
    width: 22%;
    min-width: 150px;
    min-height: 200px;
    margin-top: 20px;
    background-color: #353535;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.agenda .flex-box h3, 
.agenda .flex-box p {
    margin: 10px 0 0 0;
    white-space: wrap;
    overflow: auto;
}

.agenda .jaartalblock {
    overflow: visible !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agenda .jaartalblock h3 {
    overflow: visible !important;
}



















/*** Lestijden Page ***/

.lestijden-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/lestijden.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.lestijden-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lestijden-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.lestijden h3 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.lestijden .main-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
}

.block-left, .block-right {
    display: normal;
    text-align: center;
    margin-top: 30px;
}

.block-right .right-text {
    text-align: left;
}

.lestijden table {
    width: 600px;
    height: 80%;
    text-align: center;
}

.lestijden tr {
    width: 600px;
    height: 45px;
}

.lestijden th {
    width: 200px;
    background-color: #353535;
    /*border: #505050 solid 2px;*/
}

.lestijden td {
    width: 200px;
    background-color: #505050;
    /*border: #353535 solid 2px;*/
}


.left-top {
    border-top-left-radius: 10px;
}

.right-top {
    border-top-right-radius: 10px;
}

.left-bottom {
    border-bottom-left-radius: 10px;
}

.right-bottom {
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 610px) {
    

    .lestijden table {
        width: 300px;
        height: 80%;
        text-align: center;
    }

    .lestijden tr {
        width: 300px;
        height: 45px;
    }
    
    .lestijden th {
        width: 100px;
        background-color: #353535;
        /*border: #505050 solid 2px;*/
    }
    
    .lestijden td {
        width: 100px;
        background-color: #505050;
        /*border: #353535 solid 2px;*/
    }

}














/*** Huisregels Page ***/

.regels-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/huisregels.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.regels-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 21vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.regels-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.regels h3 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.regels-text #regels-ul-1 {
    margin-left: 20px;
}

.regels-text #regels-ul-1 li {
    margin-top: 10px;
}

.regels-text {
    margin: 40px 0 0 30px;
    color: #fff;
    width: 55%;
}

@media only screen and (max-width: 800px) {
    .regels-text {
        width: 80%;
    }
}






/*** Protocollen Page ***/

.protocollen {
    min-height: 80vh;
}

.protocollen-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/protocollen.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.protocollen-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 21vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.protocollen-hero .hero-text {
    margin-top: -20vh;
    font-size: 25px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.protocollen h3 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.protocollen-text {
    margin: 40px 0 20px 30px;
    color: #fff;
    width: 55%;
}

.protocollen-text p {
    margin-bottom: 20px;
}

.protocollen-text .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content
}

.protocollen-text .links a {
    padding: 10px;
    margin-right: 10px;
    margin-top: 40px;
    border: 1px solid #ff0000b2;
    background-color: #ff0000b2;
    color: #000;
    border-radius: 10px;
}

.protocollen-text .links a:hover {
    padding: 10px;
    margin-right: 10px;
    background-color: #ff000071;
    color: #000;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .protocollen-text {
        width: 80%;
    }
}






/*** Inschrijven Page ***/

.inschrijven-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/inschrijven.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.inschrijven-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 21vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inschrijven-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.inschrijven h2,
.inschrijven h3 {
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.inschrijven .flex-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: fit-content;
}

.inschrijven .flex-box .block {
    min-width: 45%;
    max-width: 47%;
    min-height: fit-content;
    color: #fff;   
    text-align: center; 
    margin: 0 1% 0 1%;
}

.inschrijven .block-MT {
    min-height: fit-content;
    color: #fff;   
    text-align: center;
    width: 100%;
}

.inschrijven > h2 {
    margin-top: 75px;
}



.inschrijven .block iframe {
    margin: 10px 1% 0 1%;
    width: 98%;
    height: 80vh;
    border-radius: 10px;
    display: block;
}

.inschrijven .block .help-text {
    display: block;
}

.inschrijven .block .tele-btn {
    display: none;

    margin-top: 40px;
    padding: 30px;
    background-color: #ff0000b2;
    color: #000;
    border-radius: 10px;
    width: 50%;
}


@media only screen and (max-width: 1100px) {
    .inschrijven .block iframe {
        display: none;
    }
    .inschrijven .block .help-text {
        display: none;
    }
    .inschrijven .block .tele-btn {
        display: block;
    }

    .inschrijven .flex-box .block,
    .inschrijven .block-MT {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    @media only screen and (max-width: 500px) {
        .inschrijven .flex-box {
            display: block;
        }
        .inschrijven .flex-box .block {
            min-width: 95%;
            max-width: 100%;
        }
    }
}







/*** Examen Eisen Page ***/

.examen-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/examens.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.examen-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 21vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.examen-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.examen h2, 
.examen h3 {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.examen .examen-flex-box-1,
.examen .examen-flex-box-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    color: #fff;
}

.examen .examen-flex-box-1 {
    min-height: 200px;
    width: 100%;
}

.examen .examen-flex-box-1 .examen-block {
    text-align: center;
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    margin: 2%;
    height: fit-content;
}

.examen .examen-flex-box-1 .examen-block a {
    padding: 0;
    border-radius: 0;
    margin: 0;
}



.examen .examen-flex-box-2 img {
    border-radius: 10px;
    width: 100%;
}
.examen .examen-flex-box-2 a {
    border-radius: 10px;
    width: 20%;
    margin: 5%;
}

@media only screen and (max-width: 1200px) {

    .examen .examen-flex-box-2 a {
        border-radius: 10px;
        width: 40%;
        margin: 5%;
    }

    .examen .examen-flex-box-2 {
        margin-top: 0px;
    }
}



















/*** Recent Page ***/

.recent {
    height: calc(100vh - 230px);
}



/* Recent Hero */

.recent-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/informatie/recent/recent.png);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.recent-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recent-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.recent h3,
.recent h2 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}



/* Recent Slideshow */

.recent img {
    vertical-align: middle;
}

.recent .slidesImg {
    width: 100%;
}

/* Position the image container (needed to position the left and right arrows) */
.recent .container {
    position: relative;
    width: 50%;
    margin-left: 25%;
}

/* Hide the images by default */
.recent .mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.recent .cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.recent .prev,
.recent .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.recent .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.recent .prev:hover,
.recent .next:hover {
    background-color: #2f2f2f;
}

/* Number text (1/3 etc) */
.recent .numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.recent .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
}

.recent .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.recent .column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.recent .demo {
    opacity: 0.6;
}

.recent .active,
.recent .demo:hover {
    opacity: 1;
}








/*** Contact Page ***/

.contact-hero {
    width: 100%;
    height: 50vh;
    background-image: url(./files/images/contact/contact.jpg);
    background-color: #ff0000b2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.contact-hero .overlay {
    width: 100%;
    height: 30.5vh;
    margin-top: 20vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}

.contact h2 {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.contact h3 {
    color: #fff;
    text-align: center;
}

.contact .block-1 h4 {
    margin-top: 30px;
    margin-left: 30px;
}

.contact .block-1 ul {
    margin-top: 10px;
    margin-left: 30px;
    list-style: none;
}

.contact .flex-box-1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.contact .block-1, .contact .block-2 {
    width: 45%;
    margin-top: 40px;
}

.contact .block-1 {
    min-width: 660px;
    background: #353535;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact .block-1 #locatie-text {
    margin-top: 10px;
    margin-left: 30px;
}

.contact .block-2 {
    min-width: 660px;
    background: #353535;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact .block-2 h4 {
    margin-top: 30px;
    text-align: center;
}

.contact .block-2 p {
    margin-top: 10px;
    text-align: center;
}

.contact .block-2 img {
    max-width: 200px;
    max-height: 200px;
}

.contact .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.contact .social-links .social-links-block {
    margin-bottom: 20px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapouter {
    position: relative;
    height: 500px;
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    border-radius: 10px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

.gmap_canvas iframe {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 1380px) {

    .contact .flex-box-1 {
        flex-wrap: wrap;
    }

    .contact .block-2 {
        float: right;
        margin-left: auto;
    }
}



@media only screen and (max-width: 680px) {
    .contact .block-1, .contact .block-2 {
        min-width: 80%;
    }

}

@media only screen and (max-width: 600px) {

    .contact .flex-box-1 {
        flex-wrap: wrap;
    }

    .contact .block-2 {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media only screen and (max-width: 470px) {

    .contact .block-2 img {
        width: 150px !important;
        height: 150px !important;
    }
}












/* Over Ons Page */


/** Hero **/

.over-ons-hero {
    width: 100%;
    height: 60vh;
    background-image: url(./files/images/home/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.over-ons-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 30vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.over-ons-hero .hero-text {
    margin-top: -30vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
}



/** Over Gokyo **/

.over-ons .over-gokyo {
    padding: 20px 0 0 20px;
    color: #FFF;
    width: 60%;
}

.over-ons .over-gokyo p {
    padding: 10px 0 0 0;
}







/* Sponsors Page */


/** Hero **/

.sponsors-hero {
    width: 100%;
    height: 60vh;
    background-image: url(./files/images/home/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsors-hero .overlay {
    width: 100%;
    height: 30vh;
    margin-top: 30vh;
    float: left;
    background-image: linear-gradient(#00000000, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponsors-hero .hero-text {
    margin-top: -20vh;
    font-size: 35px !important;
    font-family: 'Hanalei Fill', cursive !important;
    font-weight: bold !important;
    color: #fff;
}



/** Sponsors **/

.sponsors .flex-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 40px;
}

.sponsors .flex-box div {
    width: 30%;
    min-width: 300px;
    height: 40%;
    min-height: 300px;

    background-color: #383838;
    border-radius: 10px;
    text-align: center;
    margin: 20px 50px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsors a {
    width: 100%;
}

.sponsors img {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: calc(90% - 60px);
}


.sponsors .sponsors3 img {
    background-color: #000;
}
.sponsors .sponsors4 img {
    background-color: #000;
}






/*** Account Pagina ***/

.account-pagina {
    min-height: calc(100% - 100px);
    margin-top: 100px;
}



/** Account Pagina || Forms **/

.account-pagina .content-form {
    min-height: calc(100vh - 100px - 280px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.account-pagina .content-form .form {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30%;
    padding: 50px 0;
    border-radius: 20px;

    background-color: #212121;
    color: #fff;
}

.account-pagina .content-form .form h1 {
    margin: 5px 0;
}

.account-pagina .content-form .form input {
    box-sizing: border-box;
    
    height: 25px;
    padding: 0 3px;
    margin: 10px 0 20px;

    background-color: #2f2f2f;
    color: #fff;

    outline: 0;
    border: 1px solid transparent;
    border-radius: 5px;

    transition: all .2s;
}

.account-pagina .content-form .form input:hover {
    border-bottom: 3px solid #ff0000;

    transition: all .2s;
}

.account-pagina .content-form .form input:focus-visible {
    border-bottom: 3px solid #00ff00;

    transition: all .2s;
}

.account-pagina .content-form .form button {
    padding: 10px;

    background-color: #ff0000;

    outline: 0;
    border: 1px solid transparent;
    border-radius: 5px;

    transition: all .2s;
}

.account-pagina .content-form .form button:hover {
    padding: 10px;

    background-color: #ff0000b2;

    cursor: pointer;

    transition: all .2s;
}




/*** Dashboard ***/

.dashboard {
    height: calc(100vh - 100px - 280px);
    margin-top: 100px;
}

.dashboard .hero {
    color: #fff;

    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .content {
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .content .buttons {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard .content .buttons a {
    width: 45%;
    height: 50px;
    margin: 1%;

    text-align: center;
    
    background-color: #212121;
    color: #ff0000;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;
}

.dashboard .content .buttons a:hover {
    transition: all .3s;
    transform: scale(1.05);
}